/*Comentario*/
*{
margin:0;
padding:0;
}
body{
	font-family: Signika;
	font-size: 20px;
	src: url(formulario);
}

.recuadro{
    width: 500px;
    height: 500px;
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 1px solid;
    border: 1px solid #360161;
    background-color: #93C7D5;
}
.contenido{
	text-align: center;
	position: relative;
	top: 15%;
}

/*Botón Verdadero*/
.buttonV {
    background-color: #360161;
    border: 1px solid white;
    padding: 15px 32px;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    color:  white;
    margin: 4px 2px;
    cursor: pointer;
}

/*Botón Falso*/
.buttonV1 {
    background-color: whitesmoke;
    border: 1px solid #360161;
    padding: 15px 32px;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    color:  #360161;
    margin: 4px 2px;
    cursor: pointer;
